@import "../scss/nullStyle.scss";
@import "../scss/fontsAdd.scss";

header{
    height: 82px;
    padding-top: 28px;
    background-color: #F4F9E2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container{
    width: 1130px;
    margin: auto;
    
}
.container__flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex:0 1 33%;
}
.thrivetalk{
    font-family: 'Larsseit';
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}
.menu
{
    display: flex;
    flex:1 0 33% ;
   
   .menu__section{
    margin-right:40px;
    font-family: 'Larsseit';
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
    }
    .menu__section_active
    {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu__section_active::after {
        content: "";
        width:50px;
        height: 1px;
        border: 1px solid #22356F;
        margin-top: 5px;
    }
    .menu__section:last-child
    {
        margin-right: 0px;
    }
}

.contact-us
{
    display: flex;
    flex:0 1 33% ;
    justify-content: end;
    z-index: 10;
    
}
.contact-us__button{
    background: #62D0DF;
    border-radius: 50px;
    font-family: 'Larsseit';
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 20px 30px;
}
.block-1
{
    background-color:#F4F9E2;
}
.block-1__flex{
    display: flex;
}
.block-1__main-info{
    width: 45%;
    h3{
        margin-top: 150px;
    }
    h1{
        font-family: 'Larsseit';
        font-size: 48px;
        line-height: 53px;
        letter-spacing: -0.035em;
        color: #22356F;
        margin-top:33px;
    }
    p{

        font-family: 'Larsseit';
        font-size: 24px;
        line-height: 42px;
        color: #22356F;
        margin-top: 61px;
    }
    .block-1__buttons{
        margin-top:63px;
        margin-bottom: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
.who-am-i-btn{
    font-family: 'Larsseit';
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;

    background-color: #F9B640;
    padding: 10px 30px;

}
.alternative-button{
    font-family: 'Larsseit';
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FAB63E;
    background-color: rgba(255, 255, 255, 0);
}

.block-1__decor__img{
    position: absolute;
    right: 0px;
    top:0px;
    z-index: 2;
}
.block-1__decor__fon{
    position: absolute;
    right: 0px;
    top:0px;
    z-index: 1;
}

.block-2{
background-color: #62D0DF;
position: relative;
min-height: 300px;

}
.block-2__flex{
display: flex;
justify-content: space-between;
}
.block-2__main-info{
    width:50%;
    h2{
        font-family: 'Larsseit';
        font-size: 36px;
        line-height: 27px;
        letter-spacing: -0.006em;
        color: #FFFFFF;
        margin-top: 151px;
    }
    p{
        font-family: 'Larsseit';
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        margin-top:75px;
        margin-bottom: 95px;
      
    }
}
.block-2__decor{
    position: absolute;
    background-image: url(../img/blovk-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 100%;
    right: 0px;
    top:0px;
}

.block-3__flex{
width:50%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 90px;
margin-bottom: 20px;
h3{
    font-family: 'Larsseit';
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356F;
    
}
p{
    font-family: 'Larsseit';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #22356F;
    
    flex:0 0 40%;
    margin-top: 37px;
    margin-bottom: 76px;
}
& h3:last-child{
    font-family: 'Larsseit';
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;
color: rgba(34, 53, 111, 0.5);
}
}

.block-3__grid
{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    min-height: 360px;
    margin-bottom: 77px;
}
.block-3__grid__card{
    display: flex;
    flex-direction: column;
    align-items:flex-start;

    min-height: 360px;
    padding-left: 10%;
    padding-right: 10%;
    
    
  

    &.pinck{
        background-color: #FFE2DE;
    }
    &.salad{
        background-color: #C4E769;
    }
    &.light-blue{
        background-color: #62D0DF;
    }
    &.blue{
        background-color: #0052C1;
    }

    .block-3__card__decoration
{
    width: 100%;
    height:0px;
    border: 1px solid white;
    margin-top: 71px;
    margin-bottom: 32px;
}
    
    h3{
    font-family: 'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    max-width: 90%;
;

    &::before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: #E9B730;
        border: 1px solid #E9B730;
        border-radius: 50%;
        display: inline-block;
        margin-right:15px;
        
    }
    }
}


.block-4__grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:  1fr 1fr;

.block-3__grid__card{
    position: relative;

    &.dark-blue{
        background-color:#22356F ;
    }
    &.blue{
        background-color:#0052C1 ;
    }
    &.grey{
        background-color: #BAD8D9;
        transition: 1s;
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(../img/bg-img-grey.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            top:0px;
            left:0px;
            border: 2px solid white;
            opacity: 0;
            transform: scale(-1, 1);
            transition: 1s;
            
        }
        &:hover{
            
            
            transform: rotate3d(0, 1, 0, 180deg);
            transform-style: preserve-3d;
            &::before{
                opacity: 1;
                transition: 1s;
            }
           
            // transform: translate3d(1,1,1, 50px);
        }
    }
    &.light-blue{
        background-color: #62D0DF;
    }
    &.beige{
        background-color: #DEE1FF;
    }
    &.violet{
        background-color:#8F00FF;
    }

    &.block-4__grid__card{
        min-height: 480px;
        position: relative;
        z-index: 10;
        // &::before{
        //     content: "";
        //     width: 30%;
        //     height: 30%;
        //     background-color: red;
        //     position: absolute;
        //     top:0px;
        //     left:0px;
        //     border: 2px solid white;
        //     opacity: 0;
        // }
    }
}
}